@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
   .cont {
    @apply container max-w-[1440px] px-7 lg:px-8 xl:px-6 2xl:px-0 mx-auto
  }
  .btn-hover{
    @apply transition-all duration-150 ease-linear
  }
  .swiper {
    width: 100%;
    height: 100%;
  }
  .swiper-slide {
    cursor:grab;
    text-align: center;
    font-size: 18px;
    background: #fff;
  
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }
  
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .my-node-enter {
    opacity: 0;
    background-color: #4F000B;
  }
  .my-node-enter-active {
    opacity: 1;
    transition: opacity 200ms;
    background-color: #4F000B;
  }
  .my-node-exit {
    background-color: #4F000B;
    opacity: 1;
  }
  .my-node-exit-active {
    opacity: 0;
    transition: opacity 200ms;
    background-color: #4F000B;
  }
}
.swiper-button-prev{
  color: #4F000B !important;
}
.swiper-button-next { 
  color: #4F000B !important;}
.swiper-pagination-bullet-active{
  background-color: #4F000B !important;
}